@font-face {
    font-family: GilroyExtraBold;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}




body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: GilroyExtraBold;
}

.visually-hidden {
  	position: absolute;
	  clip: rect(0 0 0 0);
	  width: 1px;
	  height: 1px;
	  margin: -1px;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

a {
  text-decoration: none;
}

ul {
	margin: 0;
	list-style: none;
	padding-left: 0;
}


fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 47px;
	line-height: 48px;
	margin: 0;
}

h3 {
	margin: 0;
}

















/*для кнопки*/







.modal label {
	font-size: 18px;
	line-height: 24px;
}





/*разметка сетки*/



.wrapper {
	width: 1160px;

	margin-left: auto;
	margin-right: auto;
}


/*хедэр*/

.wrapper__inner {
	padding-left: 60px;
	padding-right: 60px;
}

.header__container {
	background-color: rgb(247,226,150);
	margin-top: 40px;

	padding-bottom: 55px;
}

.header__logo {
	height: 35px;
	transform: translateY(-50%);

	margin-bottom: 18px
}

/*одинаковое поведение в хедере и футере, 
не стал задавать отдельно стили для эффектов на лого*/
.logo__link:hover,
.logo__link:focus {
	opacity: 0.6;
}

.logo__link:active {
	opacity: 0.3;
}



.header__top {
	/*height: 30px;*/
	margin-bottom: 50px;

	display: flex;
	justify-content: start;
	align-items: center;
}

.header__searcher {
	margin-right: auto;
	display: flex;
	position: relative;
	align-items: center;
}

.search__button-lens {
	position: absolute;
	left: 2px;
	width: 16px;
	height: 16px;
	
	background-image: url(../img/interface/search.svg);
}

.search__field {
	padding-left: 40px; 
	border: 0;
	outline: none;
	background-color: transparent;
	height: 50px;
	/*width: 440px;*/
	

	font-family: OpenSansLight;
	font-size: 15px;
	line-height: 30px;
	color: #000;
}

.search__field:focus {
	width: 440px;
	border-bottom: 1px solid #000;
}





.search__field::placeholder {
	font-family: OpenSansLight;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0,0,0,0.3);
}

.header__searcher:hover .search__field::placeholder {
	color: rgba(0,0,0,0.6);
}

.search__button-search {
	font-family: OpenSansLight;
	font-size: 15px;
	line-height: 30px;
	width: 85px;
	height: 50px;
	border: 1px solid #000
}

.search__button-search:hover,
.search__button-search:last-of-type:focus {
	background-color: #000;
	color: #fff;
}

.header__searcher .search__button-search:active {
	color: rgba(255,255,255,0.3);
}


/*юзер меню*/

.header__user-menu {
	width: 500px;
	display: flex;
	justify-content: flex-end;
}

.user-menu__item + .user-menu__item {
	margin-left: 40px
}

.header__user-menu .user-menu__item--signin {
	margin-right: auto;
}

.user-menu__link {
	font-family: OpenSansLight;
	font-size: 15px;
	line-height: 30px;
	position: relative;
	padding-left: 27px;
}

.user-menu__link::before {
	position: absolute;
	
	content: "";
	width: 13px;
	height: 12px;
	left: 0;

	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat
/*	background-position: 50%;*/
}

.user-menu__link--signin::before {
	background-image: url(../img/interface/user.svg);
}

.user-menu__link--compare::before {
	background-image: url(../img/interface/compare.svg);
}

.user-menu__link--cart::before {
	background-image: url(../img/interface/cart.svg);
}

.header__user-menu .user-menu__link {
	color: rgb(0,0,0);
}

.header__user-menu .user-menu__link:hover,
.header__user-menu .user-menu__link:focus {
	color: rgba(0, 0, 0, 0.6);
}

.header__user-menu .user-menu__link:active {
	color: rgba(0, 0, 0, 0.3)
}

.header__user-menu .user-menu__link:hover::before,
.header__user-menu .user-menu__link:focus::before {
	opacity: 0.6;
}

.header__user-menu .user-menu__link:active::before {
	opacity: 0.3;
}


/*блок основного меню в хэдере*/

.header-menu-list {
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.header-menu__item {
	margin-left: 38px;
}

.header-menu__item--contacts{
  	margin-left: 112px;
}

.header-menu__item--catalog {
	width: 240px;

	margin-left: 0;
  	margin-right: auto;
}


.header-menu__item--catalog .header-menu__link {
	display: block;
	width: 100%;
	position: relative;
}

.header-menu__link {
	font-family: GilroyExtraBold;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.header-menu__link:hover,
.header-menu__link:focus {
	color: rgba(0,0,0,0.6)
}

.header-menu__link:active {
	color: rgba(0,0,0,0.3);
}



.header-menu__item--catalog .header-menu__link::after {
	position: absolute;
	content: "";
	width: 24px;
	height: 16px;

	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.3;

	background-image: url(../img/interface/plus.svg);
	background-repeat: no-repeat;

	opacity: 0.3;
}


/*дропдаун*/

.dropdown__menu {
	position: absolute;
	left: -60px;
	right: -60px;

	padding-left: 60px;
	padding-right: 440px;
	padding-top: 20px;
	padding-bottom: 40px;

	background-color: rgb(247,226,150);

	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;

	z-index: 2;
}

.dropdown__item {
	width: 200px;
}

.dropdown__item:nth-child(3n+1){
  	width: 240px;
}
.dropdown__item:last-child {
  	width: 240px;
}

.dropdown:hover .dropdown__menu {
 	display: flex;
}


.dropdown__link  {
	text-transform: none;
	font-family: OpenSansLight;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
	letter-spacing: 0px;

	display: block;
}

.dropdown__link:hover,
.dropdown__link:focus {
	color: rgba(0,0,0,0.6)
}

.dropdown__link:active {
	color: rgba(0,0,0,0.3);
}



.promo {
	border: 1px solid red;
}


.promo--selfies {
	display: none;
}

.promo--bracelets {
/*	display: none;*/
}

.promo--copters {
	display: none;
}



.promo__wrapper {
	padding-right: 60px;
	border: 1px solid green;
	background: linear-gradient(to bottom, rgb(247,226,150) 0%, rgb(247,226,150) 111px,#fff 111px,#fff 100%);
}

.promo__container {
	display: flex;
	justify-content: flex-end;
	border: 1px solid aqua;

	min-height: 500px;
}

.promo__img {
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.promo__content {
	display: flex;
	flex-direction: column;

	width: 500px;
	margin-left: auto;
	border: 1px solid brown;

	margin-top: 75px;
	margin-left: 40px;
}

.promo__header {
	font-size: 47px;
	line-height: 56px;
	margin-bottom: 31px;
}

.promo__header--01,
.promo__header--02,
.promo__header--03 {
	position: relative;
}

.promo__header--01::after {
	content: "01";
}

.promo__header--02::after {
	content: "02";
}

.promo__header--03::after {
	content: "03";
}

.promo__header::before {
	position: absolute;
	content: "";
	width: 100px;
	height: 8px;
	background-color: rgb(255,255,255);
	left: 0;
	top: -40px;
	
}

.promo__header::after {
	position: absolute;
	font-size: 179px;
	color: rgb(255,255,255);
	right: 0;
	top: -20px;
}

.promo__text {
	font-family: OpenSansLight;
	font-size: 15px;
	line-height: 30px;
}

.promo__button-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 45px;
	margin-bottom: 45px;
}

.promo__btn {
	width: 220px;
}

.slider {
	display: flex;
	width: 80px;
	justify-content: space-between;
}

.slider__btn {
	font-size: 0;
	width: 12px;
	height: 12px;
	
	border: 1px solid rgb(52,52,52);
	border-radius: 50%;
}

.slider__btn:hover {
	background-color: red;
}

.promo__table {
	font-family: OpenSansLight;
	letter-spacing: 0;
	display: flex;
	justify-content: flex-start;
}

.table__column {
	display: flex;
	flex-direction: column;
}

.table__column:first-child {
	width: 160px;
}




.table__column:not(nth-child(2)) :last-child {
	width: 200px;
	margin-left: auto;
}

.table__name {
	font-size: 13px;
	line-height: 20px;
}

.table__value {
	font-size: 36px;
	line-height: 48px;
}






/*td {
	padding-right: 40px;
}

.table__row  {
	font-family: OpenSansLight;
}

.table_row--value {
	font-size: 36px;
	line-height: 48px;
}

.table__row--name {
	font-size: 13px;
	line-height: 20px;
}*/

/*Секция ассортимент*/

.assortment {
	margin-bottom: 84px;
}

.assortment__list {
	display: flex;
	justify-content: space-between;
}

.assortment__item {
	width: 160px;
	height: 240px;
}

.assortment__link {
	display: block;
	font-family: GilroyExtraBold;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.assortment__link:active {
	color: rgba(0, 0, 0, 0.3);
}

.assortment__link::before {
	content: "";
	display: block;
	height: 160px;
	margin-bottom: 40px;

	background-color: rgba(247,226,150,0.5);
}

.assortment__link::after {
	content: "";
	display: block;
	height: 160px;
	margin-top: -226px;

	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.assortment__link--vr::after {
	margin-top: -250px;
	background-image: url(../img/main-catalog/popular-1.svg);
}

.assortment__link--monopods::after {
	margin-top: -250px;
	background-image: url(../img/main-catalog/popular-2.svg);
	background-position: 50% 95%;
}

.assortment__link--actioncams::after {
	background-image: url(../img/main-catalog/popular-3.svg);
}

.assortment__link--bracelets::after {
	background-image: url(../img/main-catalog/popular-4.svg);
}

.assortment__link--clocks::after {
	background-image: url(../img/main-catalog/popular-5.svg);
}

.assortment__link--copters::after {
	background-image: url(../img/main-catalog/popular-6.svg);
}

.assortment__link:hover::before {
	background-color: rgba(247,226,150,1);
}

.assortment__link:active::after {
	opacity: 0.3;
}



/*Блок клиенты*/
.clients__list {
	height: 100px;
	margin-bottom: 93px;

	display: flex;
	justify-content: space-between;
}

.clients__link {
	filter: grayscale(100%) opacity(20%)
}

.clients__link:hover {
	filter: none;
	transition: all ease-in-out 0.3s;
}



/*блок о компании*/

.about {
	margin-bottom: 75px;
}

.about__info {
	display: flex;
	margin: 0 20px;
}

.about__title {
	font-family: GilroyExtraBold;
	font-size: 47px;
	line-height: 48px;
	color: rgb(0,0,0);

	margin-bottom: 50px;
}

.about__title::before {
	display: block;
	content: "";
	width: 80px;
	height: 7px;
	background-color: rgb(0,0,0);

	margin-bottom: 45px;
}

.about__text {
	font-family: OpenSansLight;
	font-size: 15px;
	line-height: 30px;
	color: #464646;

	margin-bottom: 35px;
}

.about__column {
	width: 560px;
	min-height: 575px;
	position: relative;
}

.about__delivery {
	margin-top: 60px;
}

.delivery__link {
	color: #000000;
	font-size: 16px;
	line-height: 40px;

	padding-left: 35px;
	position: relative;
}

.delivery__link::before {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	border: 2px solid #e5e5e5;
	border-radius: 50% 50%;

	opacity: 0.3;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}


.delivery__link:active {
	color: rgba(0, 0, 0, 0.3);
}

.about__btn {
	position: absolute !important;
	bottom: 0;
	width: 260px;
}

/*Блок футер*/
.footer {
	background-color: #464646;
}

.footer__container{
	padding: 65px 20px;
}


/*верхний подблок в футере*/
.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.footer__logo {
	width: 200px;
}

.footer__user-menu {
	width: 360px;
	display: flex;
	justify-content: flex-end;
}


.footer__user-menu .user-menu__link {
	color: rgba(255, 255, 255, 0.7);
}

.footer__user-menu .user-menu__link:hover,
.footer__user-menu .user-menu__link:focus {
	color: rgb(255,255,255);
}

.footer__user-menu .user-menu__link:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer__user-menu .user-menu__link--signin::before {
	background-image: url(../img/interface/footer-user.svg);
}

.footer__user-menu .user-menu__link--compare::before {
	background-image: url(../img/interface/footer-compare.svg);
}

.footer__user-menu .user-menu__link--cart::before {
	background-image: url(../img/interface/footer-cart.svg);
}
.footer__user-menu .user-menu__link:hover::before,
.footer__user-menu .user-menu__link:focus::before {
	opacity: 0.6;
}

.footer__user-menu .user-menu__link:active::before {
	opacity: 0.3;
}



/*средний подблок футера с меню*/
.footer__middle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}

.footer__address {
	font-style: normal;
	font-family: OpenSansLight;
	color: #ffffff;

	width: 210px;
}

.footer-menu {
	width: 440px;

	display: flex;
	justify-content: space-between;
}

.footer-menu__link {
	color: #ffffff;
	font-family: GilroyExtraBold;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-menu__link:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer__tel {
	font-style: normal;
	font-family: OpenSansLight;
	color: #ffffff;

	width: 210px;
	text-align: right;
}

/*нижний подблок футера с ссылками*/
.footer__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__links::before {
	display: block;
	content: "";
	width: 80px;
	height: 7px;
	background-color: rgb(255,198,0);
}


.footer__social {
	width: 160px;
	display: flex;
	justify-content: space-around;
}

.social__link {
	opacity: 0.3;
}

.social__link:active {
	opacity: 0.1;
}

.social__link:hover,
.social__link:focus {
	opacity: 0.6;
}




.footer__copyright {
	width: 80px;
	text-align: right;
}

.footer__copyright:hover,
.footer__copyright:focus {
	opacity: 0.6;
}

.footer__copyright:active {
	opacity: 0.3;
}






/*для страницы моноподс*/

.page-title {
	margin-top: 44px;
	margin-bottom: 44px;
}

/*Хлебные крошки*/

.breadcrumbs {
	margin-bottom: 50px;
}

/*разметка декоративные элементы для хлебных крошек*/

.breadcrumbs__item {
	display: inline-block;
	padding-right: 18px;
	position: relative;
}

.breadcrumbs__item:not(.breadcrumbs__current)::before {
	position: absolute;
	content: "";
	width: 4px;
	height: 7px;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../img/interface/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.breadcrumbs__link,
.breadcrumbs__current {
	font-family: OpenSansLight;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3)
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
	color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs__link:active {
	color: rgba(0, 0, 0, 0.1)
}


/*Блок каталога*/

.container {
	display: flex;
}

.catalog__top {
	height: 70px;
	background: linear-gradient(to right, #d9d9d9 0%,#d9d9d9 50%,#ebebeb 50%,#ebebeb 100%);
}

.catalog__top-left {
	box-sizing: border-box;
	width: 330px;
	background-color: #d9d9d9;
	position: relative;
}

.top-left__title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 60px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3px;
}

.catalog__top-right {
	height: 70px;
	width: 830px;
	background-color: #ebebeb;

	padding-left: 70px;
	display: flex;
	align-items: center;
}

.top-right__title {
	display: inline-block;
	width: 160px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3px;
}

.catalog__sorting {
	width: 560px;
	margin-left: auto;
	display: inline-flex;
	justify-content: space-between;
}

.sorting__criterion {
	width: 320px;
}


.criterion__name {
	margin-right: 32px;
}

.criterion__name:last-child {
	margin-right: 0;
}


.sorting__direction {
	margin-left: auto;
}

.direction__item--to-bottom + label {
	margin-left: 18px;
}



.filter__submit {
	width: 200px;
}




.sorting label {
	font-family: OpenSansLight;
	font-size: 14px;
	line-height: 18px; 
	opacity: 0.3;
}

.sorting label:hover {
	opacity: 0.6;
}

/*понимаю, что псевдокласс checked 
здесь не подходит, но как тогда отображаться чекнутый инпут при display none*/
.sorting input:active ,
.sorting input:checked  {
	opacity: 1;
}





.filter__color-list,
.filter__bluetooth-list {
	font-family: OpenSansLight;
	font-size: 14px;
	line-height: 40px;
}





/*описываю чекбоксы*/

.filter__legend {
	margin-bottom: 30px;
}

.filter__fieldset {
	margin-bottom: 35px;
}


.checkbox-label {
	position: relative;
	padding-left: 39px;
	cursor: pointer;
}

.filter__input--checkbox + .checkbox-indicator {
	position: absolute;
	content: "";
	width: 25px;
	height: 23px;
	left: -1px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../img/interface/checkbox-off.svg);
	background-repeat: no-repeat;
}

.filter__input--checkbox:hover + .checkbox-indicator {
	opacity: 0.6;
}

.filter__input--checkbox:checked + .checkbox-indicator,
.filter__input--checkbox:active + .checkbox-indicator {
	background-image: url(../img/interface/checkbox-on.svg);
}

.filter__input--checkbox:active + .checkbox-indicator {
	opacity: 1;
}

.filter__input--checkbox:disabled + .checkbox-indicator {
	opacity: 0.3;
}


.radio-label {
	position: relative;
	padding-left: 39px;
	cursor: pointer;
}

.filter__input--radio + .radio-indicator {
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;
	left: -1px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../img/interface/radio-off.svg);
	background-repeat: no-repeat;
}

.filter__input--radio:hover + .radio-indicator {
	opacity: 0.6;
}

.filter__input--radio:checked + .radio-indicator,
.filter__input--radio:active + .radio-indicator {
	background-image: url(../img/interface/radio-on.svg);
}

.filter__input--radio:active + .radio-indicator {
	opacity: 1;
}


.filter__input--radio:disabled + .radio-indicator {
	opacity: 0.3;
}




/*ползунки стоимости*/
.range__price {
	display: inline-block;
	font-family: OpenSansLight;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
	vertical-align: top;
}

.price__value {
	font-family: OpenSansLight;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
	background-color: transparent;
	border: 0;
	width: 50px;
}



.range__scale {
	position: relative;


  	height: 2px;

  	background-color: rgb(219,219,219);

  	margin-bottom: 10px;
}

.scale__bar {
	width: 80%;
  	height: 2px;

  	background-color: rgb(145,201,47);
}

.controls__toggle {
	position: absolute;
	top: -12px;
	  
	width: 5px;
	height: 5px;
	box-sizing: content-box;

	background-color: rgb(171,171,171);
	border: 10px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.controls__toggle:active {
	top: -13px;
	border: 12px solid #fff;
}

.controls__toggle--min {
	left: 0;
}

.controls__toggle--max {
	left: 80%;
}




.catalog__main {
	background: linear-gradient(to right, #eee 0%,#eee 50%,#fff 50%,#fff 100%);
}

.catalog__filter {
	padding: 70px;
	padding-left: 60px;
	width: 330px;
	order: 0;
}




.filter__legend {
	display: block;
	padding-top: 20px;
	border-top: 2px solid #000000;
	width: 200px;
}












.catalog__showcase {
	background-color: #fff;
	width: 830px;
	order: 1;


	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.catalog__list {
	margin-left: auto;
	width: 760px;
	margin-bottom: 40px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between; 
}

.catalog__item {
	width: 360px;
	height: 460px;

	margin-top: 70px;
	position: relative;
}

.catalog__item-image {
	margin-bottom: 40px;
	width: 360px;
	height: 380px;

/*	position: relative;*/
}


.catalog__item--new::before {
	position: absolute;
	content: "new";
	top: 29px;
	right: 27px;

	width: 60px;
	border: 2px solid rgb(214,214,214);
	border-radius: 50%;
	background-color: transparent;

	font-family: GilroyExtraBold;
	color: rgb(190,190,190);
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}


.catalog__item-image--hovered {
	display: none;

	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 380px;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
}

.catalog__item-image--hovered::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 380px;
	background-color: red;
/*	z-index: 10;*/
}



.catalog__item-campare {
	font-family: OpenSansLight;
	font-size: 13px;
	line-height: 36px;
	width: 100%;
	
}

.catalog__item-cart {
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
}
.catalog__item:hover .catalog__item-image--hovered {
	display: flex;
}

.catalog__item:hover .catalog__item-image {
	opacity: 0.7;
}

.catalog__item-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.catalog__item-title {
	width: 260px;
}

.catalog__item-name {
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.catalog__item-price {
	font-family: OpenSansLight;
	font-size: 16px;
	line-height: 24px;
}







/*
.new-label {
	position: absolute;
	top: 29px;
	right: 27px;

	width: 60px;
	height: 60px;
	border: 2px solid rgb(214,214,214);
	border-radius: 50%;
	background-color: transparent;

	font-family: GilroyExtraBold;
	color: rgb(190,190,190);
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 17px;
	
}*/








/*блок пагинации*/

.pagination {
	margin-left: auto;
	
	width: 760px;
	height: 70px;
	background-color: rgb(235, 235, 235);


	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 77px;
}

.pagination__nav--back {
	margin-right: auto;
}

.pagination__nav--forward {
	margin-left: auto;
}

.pagination__item + .pagination__item {
	margin-left: 31px;
}

.pagination__link {
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	line-height: 70px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3)
}

.pagination__link--nav {
	display: block;
	width: 136px;
	text-align: center;
	color: #000;
}

.pagination__link--nav:hover,
.pagination__link--nav:focus {
	background-color: #d9d9d9
}

.pagination__link--nav:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}

.pagination__link--number:hover,
.pagination__link--number:focus {
	color: rgba(0, 0, 0, 0.6);
}

.pagination__link--number:active,
.pagination__link--current {
	color: #000;
}









/*Временные элементы*/

.banner-1 {
	width: 100%;
	height: 384px;
	background-color: #f0c52e;
	opacity: 0.1;

	margin-bottom: 305px;
}


.banner-2 {
	width: 100%;
	height: 390px;
	background-color: #e5e5e5;

	margin-bottom: 95px;
}



/*Стилизация кнопок*/

button {
	/*сбросил стили*/
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.btn {
	display: block;

	font-family: GilroyExtraBold;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3px;
	color: rgb(0, 0, 0);
	text-align: center;

	
	padding-top: 14px;
	padding-bottom: 14px;

	position: relative;
	z-index: 0;
}

.btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.btn::after {
	position: absolute;
	
	content: "";
	height: 8px;
	width: 100%;
	background-color: rgb(240, 197, 46);

	top: 50%;
	left: 0;
	transform: translateY(-50%);

	z-index: -1;
}

.btn:hover::after {
	height: 100%;
	transition: all ease-in-out 0.3s;
}





.modal {
	z-index: 5;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	position: fixed;
	background-color: white;
	width: 960px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);


	
	display: none;
}

.modal__btn-exit {
	position: absolute;
	content: "";
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: rgba(247,226,150,0.5);
	font-size: 0;
	right: 22px;
	top: 22px;
}

.modal__btn-exit::before,
.modal__btn-exit::after {
	position: absolute;
	
	content: "";
	width: 25px;
	height: 2px;
	background-color: rgb(255,255,255);
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
}

.modal__btn-exit::before {
	transform: rotate(45deg);
}

.modal__btn-exit::after {
	transform: rotate(-45deg);
}

.modal__btn-exit:hover {
	background-color: rgb(247,226,150);
}

.modal__btn-exit:active {
	background-color: rgba(247,226,150,0.3);
}

.modal-feedback {
	padding-left: 100px;
	padding-top: 95px;
	padding-right: 100px;
	padding-bottom: 70px;
}

.userinfo__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.form__field-title {
	display: block;
	margin-bottom: 7px;
}

.form__field {
	border: 0;
	width: 360px;
	height: 50px;
	background-color: rgba(4, 6, 6, 0.2);
	color: rgba(70, 70, 70, 0.4);
	font-family: OpenSansLight;
	font-size: 14px;
	line-height: 18px;
	padding-left: 20px;
}

.form__field--usermessage {
	width: 100%;
	min-height: 155px;
	padding-left: 20px;
	padding-top: 18px;
}

.form__usermessage {
	margin-bottom: 40px;
}

.modal__form-btn {
	width: 200px;
}


.modal__map {
	width: 960px;
	height: 560px;
}